In [ ]:
## Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly

In [4]:
#Lecture de la base de données
df = pd.read_csv('db_delinquance.csv',sep=';')

In [5]:
df

,Code_region,annee,indicateur,unite_de_compte,nombre,taux_pour_mille,insee_pop,insee_pop_millesime,insee_log,insee_log_millesime
0,1,2016,Homicides,Victime,32,"0,0811956",394110,2016,226105,2016
1,2,2016,Homicides,Victime,18,"0,0478113",376480,2016,211621,2016
2,3,2016,Homicides,Victime,41,"0,1522172",269352,2016,88454,2016
3,4,2016,Homicides,Victime,14,"0,0164141",852924,2016,363111,2016
4,6,2016,Homicides,Victime,10,"0,0389836",256518,2017,73880,2017
...,...,...,...,...,...,...,...,...,...,...
2911,75,2024,Escroqueries et fraudes aux moyens de paiement,Victime,36264,"5,9319029",6113384,2022,3621478,2021
2912,76,2024,Escroqueries et fraudes aux moyens de paiement,Victime,39182,"6,4436332",6080731,2022,3714369,2021
2913,84,2024,Escroqueries et fraudes aux moyens de paiement,Victime,52500,"6,4307626",8163884,2022,4619729,2021
2914,93,2024,Escroqueries et fraudes aux moyens de paiement,Victime,36431,"7,0461899",5170312,2022,3185126,2021
2915,94,2024,Escroqueries et fraudes aux moyens de paiement,Victime,1657,"4,7170886",351276,2022,261676,2021

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2916 entries, 0 to 2915
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Code_region          2916 non-null   int64
 1   annee                2916 non-null   int64
 2   indicateur           2916 non-null   object
 3   unite_de_compte      2916 non-null   object
 4   nombre               2916 non-null   int64
 5   taux_pour_mille      2916 non-null   object
 6   insee_pop            2916 non-null   int64
 7   insee_pop_millesime  2916 non-null   int64
 8   insee_log            2916 non-null   int64
 9   insee_log_millesime  2916 non-null   int64
dtypes: int64(7), object(3)
memory usage: 227.9+ KB

In [9]:
df['annee'].unique()

array([2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024])

In [10]:
df['indicateur'].unique()

array(['Homicides', "Tentatives d'homicide",
       'Violences physiques intrafamiliales',
       'Violences physiques hors cadre familial', 'Violences sexuelles',
       'Vols avec armes', 'Vols violents sans arme',
       'Vols sans violence contre des personnes',
       'Cambriolages de logement', 'Vols de véhicule',
       'Vols dans les véhicules', "Vols d'accessoires sur véhicules",
       'Destructions et dégradations volontaires', 'Usage de stupéfiants',
       'Usage de stupéfiants (AFD)', 'Usage de stupéfiants (hors AFD)',
       'Trafic de stupéfiants',
       'Escroqueries et fraudes aux moyens de paiement'], dtype=object)

In [11]:
df['unite_de_compte'].unique()

array(['Victime', 'Infraction', 'Victime entendue', 'Véhicule',
       'Mis en cause'], dtype=object)